*{
font-family:"Comic Sans MS";


}
p{
font-size : 20px;
color: blue;
}

.franceza{
 font-size:35px;
 color:red
}
.germana{
    font: size 4px;0px;
    color:black
}
#p1 {
    color:rgb(120, 42, 165) 
}
#p2 {
    color:coral
}